<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Python cours</mat-card-title>
        <mat-card-subtitle>Beginners level</mat-card-subtitle>
    </mat-card-header>
<a 
routerLink="/cours" 
routerLinkActive="active" 
>
    <img mat-card-image src="../../assets/images/python.png" alt="Python symbol">Start cours
</a>
    <mat-card-content>
      <p>
        The Python cours for beginners
      </p>
    </mat-card-content>
</mat-card>